$styles: (
  "config-tag": (
    "border": hsl(0, 100%, 69%),
    "background": hsl(0, 100%, 89%),
    "foreground": black,
    "icon": "\f02b"
  ),
  "config-value": (
    "border": hsl(42, 100%, 50%),
    "background": hsl(42, 100%, 89%),
    "foreground": black,
    "icon": "\f03a"
  ),
  "config-example": (
    "border": hsl(176, 59%, 53%),
    "background": hsl(176, 59%, 89%),
    "foreground": black,
    "icon": "\f121"
  )
);

@each $name, $style in $styles {
  div.admonition.guide-#{$name} {
    border-color: map.get($style, "border");
  }

  div.admonition.guide-#{$name} > .admonition-title {
    background-color: map.get($style, "background");
    color: map.get($style, "foreground");
  }

  div.admonition.guide-#{$name} > .admonition-title::after {
    content: map.get($style, "icon");
    color: map.get($style, "border");
  }
}
